<div class="container">
<h1 class="text-center">投稿一覧</h1>
<% @post.each do |post| %>
  <div class="col-md-4">
    <%= post.title %>
    <%= post.body %>
    <%= post.user_id %>
    <% if post.image_id.present? %>
        <div class="post-img">
          <%= image_tag attachment_url(post, :image, :fill, 350, 250, format: "jpg"), class: 'post-photo' %>
          </div>
          <% else %>
<%= image_tag('/images/default.jpg', class: 'img-responsive padding-top-15') %>
<% end %>
    <%= @user.username %>
    </div>
  <% end %>
</div>
